@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 300; */
  font-style: normal;
}

html,
body,
#__next,
#root {
  height: 100%;
}
body {
  overflow: hidden;
}
